<div class="container-fluid">
    <h1>Contact</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam sunt quibusdam vitae excepturi asperiores tempore.</p>
</div>
<div class="container-fluid w-50">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Submit</button>
      </div>
  </div>
