<!-- your html code here -->
<h1>Contact</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam sunt quibusdam vitae excepturi asperiores tempore.</p>
<div class="container-fluid w-50">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>