<!-- your html code here -->
<div class="card mb-2">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"> <strong>The First Heading</strong> Will Catch Your Eye</h3>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illo a suscipit mollitia in rerum ab pariatur asperiores possimus maxime, amet quam molestias hic minus, optio, excepturi doloremque officiis tenetur?</p>
        
        </div>
      </div>
      <div class="col-md-4 align-items-center" >
        <img src="https://static.displate.com/1200x857/displate/2021-07-19/f7e671a073aa63f9f2d5a3ab0530c044_b84656a8e0723d7c7209741bbea08feb.jpg" class="img-fluid rounded-circle mh-75 p-2" alt="...">
      </div>
    </div>
  </div>
