<!-- Este es el div 4 hecho por Roberto González -->
<div class="container-fluid bg-white">
    <div class="container">
        <div class="row">
            <h2>Portafolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, tempore unde. Asperiores accusantium a tempore numquam neque iure reprehenderit, dolorum officia nam laudantium odit ab suscipit. Natus reiciendis animi ea.</p>       
        </div>

        <div class="row">
            <div class="col-4">
                <figure class="figure">
                    <img src="https://picsum.photos/700/400?random" class="figure-img img-fluid " alt="una imagen aleatoria">
                    <figcaption class="figure-caption">
                        <h5 class="text-primary">Project Name</h5>
                    </figcaption>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit dicta sit repellat fugiat a libero quibusdam, sapiente id laudantium dignissimos possimus qui placeat explicabo tempore illo est tenetur, temporibus quod.</p>
                </figure>
                
            </div>
            <div class="col-4">
                <figure class="figure">
                    <img src="https://picsum.photos/700/400?random" class="figure-img img-fluid " alt="una imagen aleatoria">
                    <figcaption class="figure-caption">
                        <h5 class="text-primary">Project Name</h5>
                    </figcaption>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus adipisci perspiciatis odit magnam consequuntur, natus quidem, eveniet architecto qui iure quos voluptatum ducimus quasi maiores recusandae? Delectus esse distinctio temporibus!</p>
                </figure>
            </div>

            <div class="col-4">
                <figure class="figure">
                    <img src="https://picsum.photos/700/400?random" class="figure-img img-fluid " alt="una imagen aleatoria">
                    <figcaption class="figure-caption">
                        <h5 class="text-primary">Project Name</h5>
                    </figcaption>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iure architecto laboriosam voluptas ducimus odio, eligendi maxime sapiente hic quia unde ad illo dolorem commodi at doloremque error voluptatem. Nemo!</p>
                </figure>
            </div>
            
        </div>
    </div>

</div>